<!DOCTYPE html>
<html lang="en">

<head>
	<title>Simulador BPTO</title>

	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" >

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-md-2"  style="font-size:45px">
    		  <center>
					<a href="/" style="color:tomato">  <i class="fas fa-anchor"></i></a>
				  </center>
			  </div>
			  <div class="col-md-7">
          <center>
				  <i><b><h1>Brand Price, Trade Off</h1></b></i>
          </center>
			  </div>
        <div class="col-md-3" style="font-size:45px">
          <a href="/user" style="color: black;">  <i class="fas fa-user-circle"></i></a>
        </div>
		</div><hr>
		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href='/'>Home</a></li>
          <!-- <li class="nav-item">
            <a class="nav-link" href='/blog/'>Blog</a></li>
          <li class="nav-item">
            <a class="nav-link" href='/contact/'>Contact</a></li> -->
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}

			</div>
		  </div>
		</div>

	</div>
</body>

</html>
