{% extends "home/Encuesta.html" %}
{% block content %}
{% load staticfiles %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<h3>{{ encuesta.nombre }}</h3>
<h6> Selecciona la opción de tu preferencia:</h6>
<div id="container">
  <script type="text/javascript">
  Highcharts.chart('container', {
       chart: {
           type: 'column'
       },
       title: {
           text: 'Datos iniciales'
       },
       xAxis: {
           categories: ['Marcas']
       },
       series:[
       	{% for persona in datos %}
       		{
       			nombre: '{{marca.nombre}}',
       			data: [{{mara.precio}}]
       		},
       	{% endfor %}
       ]});
</div>
<br><br>
<button class="btn btn-primary" type="submit" href=" ">No elegiría ninguna opción</button>

{% endblock %}
